<div class="flex justify-content-between gap-6">
    <div class="card w-full h-screen header-container p-6">
        <h5 class="mb-5">About Us</h5>
        <p class="line-height-4">This content is an insignificant content that is only used to improve the user
            experience This content is an
            insignificant content that is only used to improve the user experience This content is an insignificant
            content that is only used to improve the user experience This content is an insignificant content that is
            only used to improve the user experience This content is an insignificant content that is only used to
            improve the user experience This content is an insignificant content that is only used to improve the user
            experience This content is an insignificant content that is only used to improve the user experience This
            content is an insignificant content that is only used to improve the user experience This content is an
            insignificant content that is only used to improve the user experience This content is an insignificant
            content that is only used to </p>
    </div>
    <div class="card w-full h-screen header-container p-6">
        <h5 class="mb-5">Privacy policy</h5>
        <p class="line-height-4">This content is an insignificant content that is only used to improve the user
            experience This content is an
            insignificant content that is only used to improve the user experience This content is an insignificant
            content that is only used to improve the user experience This content is an insignificant content that is
            only used to improve the user experience This content is an insignificant content that is only used to
            improve the user experience This content is an insignificant content that is only used to improve the user
            experience This content is an insignificant content that is only used to improve the user experience This
            content is an insignificant content that is only used to improve the user experience This content is an
            insignificant content that is only used to improve the user experience This content is an insignificant
            content that is only used to </p>
    </div>
</div>