<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="header-container mb-5"><h5>Provider List</h5></div>
            <p-table
                #dt1
                [value]="providerList"
                dataKey="id"
                [paginator]="true"
                [rowsPerPageOptions]="rowsPerPage"
                [rows]="pageSize"
                [totalRecords]="totalCount"
                [first]="first"
                [lazy]="true"
                [loading]="loading"
                loadingIcon="pi pi-star pi-spin"
                [rowHover]="true"

                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"

                responsiveLayout="scroll"
                (onPage)="paginate($event)"
            >
                <!-- <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Clear"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th >Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>License</th>
                        <th> Comercial Record</th>
                        <th> Status</th>

                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            ></div>
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            {{ customer.fullName }}
                        </td>
                        <td>
                            {{ customer?.email }}
                        </td>

                        <td>
                            {{ customer.mobile }}
                        </td>
                        <td>
                            {{ customer.license }}
                        </td>

                        <td>
                            {{ customer.commercialRecord }}
                        </td>

                        <!-- <td class="text-center">
                            <p-button
                                label="{{ provider.statusStr }}"
                                [class]="
                                    'provider-badge status-' +
                                    provider.statusStr
                                "
                            ></p-button>
                        </td> -->

                        <td>
                            <span
                                [class]="
                                    'customer-badge status-' +
                                    customer.statusStr
                                "
                                >{{ customer.statusStr }}</span
                            >
                        </td>

                        <td class="text-center">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi true-icon pi-eye"
                                class="p-button-rounded p-button-text"
                                (click)="view(customer)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


