<div class="container">
    <div class="grid mt-0">
        <div class="col-6 login-wrapper">
            <p-toast></p-toast>
            <div class="card-container">
                <div *ngIf="isLoading">
                    <p-progressSpinner></p-progressSpinner>
                </div>
                <div>
                    <h1 class="header">Create new account <span class="dot">.</span></h1>

                    <form [formGroup]="mainForm">
                        <div class="">
                            <div class="p-fluid">

                                <div class="field grid m-0">
                                    <div class="field m-0 p-1 md:col-12">
                                        <label class="block required">Name</label>
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-user"></i>
                                            <input name="name" type="text" pInputText formControlName="name">
                                        </span>
                                        <ng-container
                                            *ngIf=" mainForm.get('name')?.invalid &&(mainForm.get('name')?.touched || mainForm.get('name')?.dirty)">
                                            <small *ngIf="mainForm.get('name')?.hasError('required')"
                                                id="username2-help" class="p-error block">Name is Required.</small>

                                            <small *ngIf="mainForm.get('name')?.hasError('minlength')"
                                                id="username2-help" class="p-error block">
                                                Name must be at least 3 characters long.
                                            </small>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="field grid m-0">
                                    <div class="field m-0 p-1 md:col-12">
                                        <label class="block required">Email</label>
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-envelope"></i>
                                            <input name="email" type="text" pInputText formControlName="email">
                                        </span>
                                        <ng-container
                                            *ngIf=" mainForm.get('email')?.invalid &&(mainForm.get('email')?.touched || mainForm.get('email')?.dirty)">
                                            <small *ngIf="mainForm.get('email')?.hasError('required')"
                                                id="username2-help" class="p-error block">Email is Required.</small>
                                            <small *ngIf="mainForm.get('email')?.hasError('email')" id="username2-help"
                                                class="p-error block">Please enter a valid email format.</small>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="field grid m-0">
                                    <div class="field m-0 p-1 md:col-12">
                                        <label class="block required">Business</label>

                                        <p-dropdown [options]="businessTypes" optionLabel="name" optionValue="id"
                                            placeholder="Select From List" class="signup-dropdown"
                                            formControlName="businessType" defaultLabel="Select from list"></p-dropdown>
                                        <ng-container
                                            *ngIf="mainForm.get('businessType')?.invalid && (mainForm.get('businessType')?.touched || mainForm.get('businessType')?.dirty)">
                                            <small *ngIf="mainForm.get('businessType')?.hasError('required')"
                                                id="username2-help" class="p-error block">Business Type is
                                                Required.</small>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="field grid m-0">
                                    <div class="field m-0 p-1 md:col-12">
                                        <label class="block required">License</label>
                                        <input name="license" formControlName="license" id="username1" type="username"
                                            aria-describedby="username1-help" pInputText />
                                        <ng-container *ngIf="mainForm.get('license') ?.invalid &&(mainForm.get('license')?.touched || mainForm.get('license')?.dirty)
                                            ">
                                            <small *ngIf="mainForm.get('license')?.hasError('required')"
                                                id="username2-help" class="p-error block">License is Required.</small>

                                            <small *ngIf="mainForm.get('license')?.hasError('minlength')"
                                                id="username2-help" class="p-error block">
                                                License must be at least 10 numbers.

                                            </small>
                                            <small *ngIf="mainForm.get('license')?.hasError('maxlength')"
                                                id="username2-help" class="p-error block">
                                                License can be max 10 numbers.

                                            </small>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="field grid m-0">
                                    <div class="field m-0 p-1 md:col-12">
                                        <label class="block required">Commercial Record</label>
                                        <input name="commercialRecord" formControlName="commercialRecord" id="username1"
                                            type="username" aria-describedby="username1-help" pInputText />
                                        <ng-container
                                            *ngIf=" mainForm.get('commercialRecord')?.invalid && (mainForm.get('commercialRecord' )?.touched || mainForm.get('commercialRecord')?.dirty)">
                                            <small *ngIf="mainForm.get('commercialRecord')?.hasError('required')"
                                                id="username2-help" class="p-error block">Commercial Record is
                                                Required.</small>

                                            <small *ngIf="mainForm.get('commercialRecord')?.hasError('minlength')"
                                                id="username2-help" class="p-error block">
                                                Commercial Record must be at least 10 numbers.

                                            </small>
                                            <small *ngIf="mainForm.get('commercialRecord')?.hasError('maxlength')"
                                                id="username2-help" class="p-error block">
                                                Commercial Record can be max 10 numbers.

                                            </small>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="md:col-12 flex align-items-center justify-content-center">

                                    <button pButton pRipple [loading]="isLoading" type="submit" label="Submit"
                                        class="action-button mt-3" (click)="submit()"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-6 px-8 py-7 onboarding">
            <div class="logo-wrapper">
                <div class="logo-container">
                    <img src="./assets/layout/images/petValley-logo.svg" alt="" />
                </div>
            </div>
            <div class="img-container">
                <img src="./assets/layout/images/signup/Badrun4.svg" alt="login" width="100%" />
            </div>
            <div class="progress">
                <div class="circle circle--active"></div>
                <div class="line line--active"></div>
                <div class="circle circle--active"></div>
                <div class="line"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>